$menu-background-color: $medium-gray;
$title-background-color: darken($medium-gray, 30%);
$active-background-color: $light-gray;

#content {
    .app-box {
        background-color: $menu-background-color;
        h2 {
            border-image: none;
        }
        .appBox-menu-header {
            background-color: $title-background-color;
            font-size: 100%;
            text-shadow: none;
            text-align: center;
            
            &.bordered {
                $title-border-appBox : 1px solid $medium-gray;
                
                border-left: $title-border-appBox;
                border-right: $title-border-appBox;
            }
        }
        .pdf-link {
            font-size: 70%;
        }
        #appBox-menu {
//            border: 1px solid black;
            background-color: $menu-background-color;
            min-height: 500px;
            height: 100% !important;
            
            @media all and (max-width: 640px) {
                min-height: auto;
                height: auto !important;
            }
            
            #appBox-vertical-menu {
                @extend .my-nostyle-list;
                @extend .my-no-margin;
                
                
                text-align: center;
//                border: 1px solid green;
                height: 100%;
                li {
//                    border: 1px solid red;
                    
                    font-family: $link-font-family;
                    font-weight: bold;
                    font-size: 90%;
                    &#newMail { 
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        align-items: center;
                    }
                    
                    &:hover {
                        background-color: $light-gray;
                    }
                    a {
        
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        
                        &:hover {
                            background-color: $light-gray;
                        }
                    }
                    #mail-counter {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        
                        text-decoration: none;
                        background-color: red;
                        color: $white;
                        width: 25px;
                        height: 20px;
                        border-radius: 3px;
                    }
                }
                
                .current {
//                    background-color: $black;
                    background-color: $active-background-color;
                }
                
                
            }
        }
        #appBoxMailList {
//            border: 1px solid $black;
            
            background-color: $active-background-color;
            @media all and (max-width: 640px) {
                    max-height: 350px;
                }
            
            ul {
//                margin: 2%;
                margin: 0;
                max-height: 1000px;
                overflow-x: scroll;
                @extend .my-nostyle-list;
                
                @media all and (max-width: 640px) {
                    max-height: 300px;
                }
                li {
                    background-color: transparentize($light-blue, 0.6);
                    margin: 2%;
                    padding: 0 1%;
                    
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    
                    &.current {
                        background-color: #edd5e6;
//                        border: 2px solid $blue;
                    }
                    &.new-message {
                        a {
                            font-weight: bold;
                        }
                    }
                    
                    q {
                        font-size: 80%;
                        color: darken($dark-gray, 20%);
                        background-color: $white;
                        margin-bottom: 5px;
                    }
                }
                
            }
        }
        #appBoxMailReader {
//            border: 1px solid green;
            background-color: $white;
            section {
                padding: 1%;
            }
            span {
                display: block;
            }
            #appResponce {
                border: 0;
                box-shadow: none;
                padding: 0;
                fieldset {
                    legend {
                        width: 100%;
                        font-size: 100%;
                        margin: 0;
                        &:not(.appBox-menu-header) {
                            text-align: left;
                            padding-left: 5%;
                        }
                    }
                    .date-form {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: nowrap;
                        
                        @media all and (max-width: 1024px) {
                            flex-wrap: wrap;
                        }
                        
                        div:nth-child(0) {
                            width: 25%;
                            &:first-child {
                                width: 15%;
                            }
                        }
                        #monthSlct {
                            width: 24%;
                        }
                        #date-form-hour {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            width: 40%;
                            div {
                                width: 45%;
                                min-width: 69px;
                            }
                        }
                    }
                    
                    * {
                        margin: 1%;
                    }
                    #docForApp {
                        width: 75%;
                    }
                    #dataOpen {
                        display: none;
                    }
                }
            }
            
            #answer {
                section {
                    border-bottom: 2px solid $dark-gray;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    
                    padding: 1%;
                    
                    .alert {margin: 0;}
                }
            }
        }
        
        
    }
}
#DelRequPopup, #appointmentPreview, #DelAnswPopup {
    @include pop-up;
}

