.memDetails {
    #upMemDetails {
        border: 0;
        box-shadow: none;
        .accordion {
            box-shadow: $global-box-shadow;
            border-radius: $global-radius;
            a.accordion-title {
                font-family: $link-font-family;
                text-decoration: none;
                text-align: center;
            }
            .accordion-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-around;
                
                label {
                    width: 40%;
                    white-space: nowrap;
                }
                input {
                    width: 40%;
                }
                &.more-details {
                    flex-wrap: nowrap;
                    p {
                        width: 40%;
                        background-color: transparentize($white, 0.5);
                        padding: 1%;
                        border-radius: 5px;
                    }
                    div {
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        align-items: center;
                        label {
                            
                            width: 30%;
                        }
                        input {
                            width: 50%;
                            max-width: 160px;
                        }
                    }
                }
            }
        }
        @media all and (max-width: 870px) {
            .accordion {
                .accordion-content:not(.more-details), .accordion-content.more-details div {
                    flex-direction: column;
                    align-items: center;
                    input {
                        width: 75%;
                    }
                }
                .accordion-content.more-details {
                    div {
                        justify-content: center;
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
        @media all and (max-width: 600px) {
            .accordion {
                .accordion-content.more-details {
                    flex-direction: column;
                    p, div {
                        width: 100%;
                    }
                    p {
                        order: 1;
                    }
                    div {
                        order: 0;
                    }
                }
            }
        }
    }
    #delAccount {
        display: block;
        margin: 0 auto 20px auto;
    }
}
#unsubMem {
    @include pop-up;
}